# Database Creator/Loader

> Author: Hannan Khan     
> Last Updated: 02/19/2022
  
This file creates a SQLite database with a table for each csv file in the fitness tracker data.
## Load Libraries

In [1]:
import sqlite3 as sql
import os
import csv

## Create Database Objects

In [2]:
data_dir = r"D:\Datasets\Fitabase_Data"

# create a connection to the database:
db_con = sql.connect(data_dir + r"\\" + "database.db")

In [3]:
# create a cursor object:
cur = db_con.cursor()

In [4]:
# test if connection works:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[]

## Python Script To Print Out 'Create Table' Statements
The statements still need to be manually fixed later.

In [5]:
# get all csv data filenames from data folder:
data_filenames = []

for datafilename in os.listdir(data_dir):
    if datafilename.endswith(".csv"):
        data_filenames.append(datafilename)

for datafilename in data_filenames:
    with open(data_dir + r"\\" + datafilename) as csv_file:
              print("CREATE TABLE IF NOT EXISTS ", end="")
              print(datafilename.replace(".csv",""), "(")
              cols = csv_file.readline().split(",")
              vals = csv_file.readline().split(",")
              for i,col in enumerate(cols):
                    print(col, vals[i])
              print(");")
              print("\n")

CREATE TABLE IF NOT EXISTS dailyActivity_merged (
Id 1503960366
ActivityDate 4/12/2016
TotalSteps 13162
TotalDistance 8.5
TrackerDistance 8.5
LoggedActivitiesDistance 0
VeryActiveDistance 1.87999999523163
ModeratelyActiveDistance 0.550000011920929
LightActiveDistance 6.05999994277954
SedentaryActiveDistance 0
VeryActiveMinutes 25
FairlyActiveMinutes 13
LightlyActiveMinutes 328
SedentaryMinutes 728
Calories
 1985

);


CREATE TABLE IF NOT EXISTS dailyCalories_merged (
Id 1503960366
ActivityDay 4/12/2016
Calories
 1985

);


CREATE TABLE IF NOT EXISTS dailyIntensities_merged (
Id 1503960366
ActivityDay 4/12/2016
SedentaryMinutes 728
LightlyActiveMinutes 328
FairlyActiveMinutes 13
VeryActiveMinutes 25
SedentaryActiveDistance 0
LightActiveDistance 6.05999994277954
ModeratelyActiveDistance 0.550000011920929
VeryActiveDistance
 1.87999999523163

);


CREATE TABLE IF NOT EXISTS dailySteps_merged (
Id 1503960366
ActivityDay 4/12/2016
StepTotal
 13162

);


CREATE TABLE IF NOT EXISTS heartrate_seconds_merged (
Id 2022484408
Time 4/12/2016 7:21:00 AM
Value
 97

);


CREATE TABLE IF NOT EXISTS hourlyCalories_merged (
Id 1503960366
ActivityHour 4/12/2016 12:00:00 AM
Calories
 81

);


CREATE TABLE IF NOT EXISTS hourlyIntensities_merged (
Id 1503960366
ActivityHour 4/12/2016 12:00:00 AM
TotalIntensity 20
AverageIntensity
 0.333333

);


CREATE TABLE IF NOT EXISTS hourlySteps_merged (
Id 1503960366
ActivityHour 4/12/2016 12:00:00 AM
StepTotal
 373

);


CREATE TABLE IF NOT EXISTS minuteCaloriesNarrow_merged (
Id 1503960366
ActivityMinute 4/12/2016 12:00:00 AM
Calories
 0.786499977111816

);


CREATE TABLE IF NOT EXISTS minuteCaloriesWide_merged (
Id 1503960366
ActivityHour 4/13/2016 12:00:00 AM
Calories00 1.88759994506836
Calories01 2.20219993591309
Calories02 0.94379997253418
Calories03 0.94379997253418
Calories04 0.94379997253418
Calories05 2.04489994049072
Calories06 0.94379997253418
Calories07 2.20219993591309
Calories08 0.94379997253418
Calories09 0.786499977111816
Calories10 0.94379997253418
Calories11 0.786499977111816
Calories12 0.786499977111816
Calories13 0.786499977111816
Calories14 0.786499977111816
Calories15 0.94379997253418
Calories16 0.94379997253418
Calories17 0.786499977111816
Calories18 0.786499977111816
Calories19 0.786499977111816
Calories20 1.88759994506836
Calories21 0.94379997253418
Calories22 0.94379997253418
Calories23 0.94379997253418
Calories24 0.94379997253418
Calories25 2.04489994049072
Calories26 2.35949993133545
Calories27 0.94379997253418
Calories28 2.04489994049072
Calories29 0.94379997253418
Calories30 0.94379997253418
Calories31 0.94379997253418
Calories32 2.04489994049072
Calories33 1.88759994506836
Calories34 0.94379997253418
Calories35 0.786499977111816
Calories36 0.786499977111816
Calories37 0.786499977111816
Calories38 0.786499977111816
Calories39 0.786499977111816
Calories40 0.786499977111816
Calories41 0.786499977111816
Calories42 0.786499977111816
Calories43 0.786499977111816
Calories44 0.786499977111816
Calories45 0.786499977111816
Calories46 0.786499977111816
Calories47 0.786499977111816
Calories48 0.786499977111816
Calories49 0.786499977111816
Calories50 0.94379997253418
Calories51 2.04489994049072
Calories52 2.04489994049072
Calories53 0.94379997253418
Calories54 2.35949993133545
Calories55 1.88759994506836
Calories56 0.94379997253418
Calories57 0.94379997253418
Calories58 0.94379997253418
Calories59
 0.94379997253418

);


CREATE TABLE IF NOT EXISTS minuteIntensitiesNarrow_merged (
Id 1503960366
ActivityMinute 4/12/2016 12:00:00 AM
Intensity
 0

);


CREATE TABLE IF NOT EXISTS minuteIntensitiesWide_merged (
Id 1503960366
ActivityHour 4/13/2016 12:00:00 AM
Intensity00 1
Intensity01 1
Intensity02 0
Intensity03 0
Intensity04 0
Intensity05 1
Intensity06 0
Intensity07 1
Intensity08 0
Intensity09 0
Intensity10 0
Intensity11 0
Intensity12 0
Intensity13 0
Intensity14 0
Intensity15 0
Intensity16 0
Intensity17 0
Intensity18 0
Intensity19 0
Intensity20 1
Intensity21 0
Intensity22 0
Intensity23 0
Intensity24 0
Intensity25 1
Intensity26 1
Intensity27 0
Intensity28 1
Intensity29 0
Intensity30 0
Intensity31 0
Intensity32 1
Intensity33 1
Intensity34 0
Intensity35 0
Intensity36 0
Intensity37 0
Intensity38 0
Intensity39 0
Intensity40 0
Intensity41 0
Intensity42 0
Intensity43 0
Intensity44 0
Intensity45 0
Intensity46 0
Intensity47 0
Intensity48 0
Intensity49 0
Intensity50 0
Intensity51 1
Intensity52 1
Intensity53 0
Intensity54 1
Intensity55 1
Intensity56 0
Intensity57 0
Intensity58 0
Intensity59
 0

);


CREATE TABLE IF NOT EXISTS minuteMETsNarrow_merged (
Id 1503960366
ActivityMinute 4/12/2016 12:00:00 AM
METs
 10

);


CREATE TABLE IF NOT EXISTS minuteSleep_merged (
Id 1503960366
date 4/12/2016 2:47:30 AM
value 3
logId
 11380564589

);


CREATE TABLE IF NOT EXISTS minuteStepsNarrow_merged (
Id 1503960366
ActivityMinute 4/12/2016 12:00:00 AM
Steps
 0

);


CREATE TABLE IF NOT EXISTS minuteStepsWide_merged (
Id 1503960366
ActivityHour 4/13/2016 12:00:00 AM
Steps00 4
Steps01 16
Steps02 0
Steps03 0
Steps04 0
Steps05 9
Steps06 0
Steps07 17
Steps08 0
Steps09 0
Steps10 0
Steps11 0
Steps12 0
Steps13 0
Steps14 0
Steps15 0
Steps16 0
Steps17 0
Steps18 0
Steps19 0
Steps20 6
Steps21 0
Steps22 0
Steps23 0
Steps24 0
Steps25 11
Steps26 21
Steps27 0
Steps28 8
Steps29 0
Steps30 0
Steps31 0
Steps32 8
Steps33 6
Steps34 0
Steps35 0
Steps36 0
Steps37 0
Steps38 0
Steps39 0
Steps40 0
Steps41 0
Steps42 0
Steps43 0
Steps44 0
Steps45 0
Steps46 0
Steps47 0
Steps48 0
Steps49 0
Steps50 0
Steps51 9
Steps52 8
Steps53 0
Steps54 20
Steps55 1
Steps56 0
Steps57 0
Steps58 0
Steps59
 0

);


CREATE TABLE IF NOT EXISTS sleepDay_merged (
Id 1503960366
SleepDay 4/12/2016 12:00:00 AM
TotalSleepRecords 1
TotalMinutesAsleep 327
TotalTimeInBed
 346

);


CREATE TABLE IF NOT EXISTS weightLogInfo_merged (
Id 1503960366
Date 5/2/2016 11:59:59 PM
WeightKg 52.5999984741211
WeightPounds 115.963146545323
Fat 22
BMI 22.6499996185303
IsManualReport True
LogId
 1462233599000

);

## Creating All Tables
Now we create all the tables for each of the files (they all have different schema):  
The query to create all the tables is stored in SQL_create_tables.txt

In [6]:
query = ""
with open(r"SQL_queries\SQL_create_tables.txt", mode="r") as file:
    query = file.readlines()
query = ''.join(query)
cur.executescript(query)
db_con.commit()

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

print("Tables:")
for table in cur.fetchall():
    print(table)

Tables:
('dailyActivity_merged',)
('dailyCalories_merged',)
('dailyIntensities_merged',)
('dailySteps_merged',)
('heartrate_seconds_merged',)
('hourlyCalories_merged',)
('hourlyIntensities_merged',)
('hourlySteps_merged',)
('minuteCaloriesNarrow_merged',)
('minuteCaloriesWide_merged',)
('minuteIntensitiesNarrow_merged',)
('minuteIntensitiesWide_merged',)
('minuteMETsNarrow_merged',)
('minuteSleep_merged',)
('minuteStepsNarrow_merged',)
('minuteStepsWide_merged',)
('sleepDay_merged',)
('weightLogInfo_merged',)

## Loading CSV Files Into Their Respective Tables

In [7]:
for datafilename in data_filenames:
    path_to_csv = data_dir + r"\\" + datafilename
    with open(path_to_csv,mode='r', encoding="ISO-8859-1") as csv_file:
        reader = csv.reader(csv_file)
        datafilename = datafilename.replace(".csv", "")
        for i,row in enumerate(reader):
            if i > 0:
                stmt = f"INSERT INTO {datafilename} VALUES({','.join('?' * len(row))});"
                cur.execute(stmt, row)
        db_con.commit()

In [8]:
# lets check if it has worked:
cur.execute("SELECT * FROM dailyIntensities_merged")
print(len(cur.fetchall()))

940

## Awesome! Length Matches Up. It has worked!