# Bike-Share Data Concatenation
>Author: Hannan Khan  
>Last Updated: 02/15/2022

This script is for concatenating the bike-share data.

In [1]:
import pandas as pd

# Look At Last Year's (2021) Data
How much data does it contain?

In [2]:
pd.read_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2021\202101-divvy-tripdata.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96829,B1A5336E1412D8BF,classic_bike,2021-01-19 19:03:17,2021-01-19 20:10:03,Lake Shore Dr & Monroe St,13300,Lakefront Trail & Bryn Mawr Ave,KA1504000152,41.880958,-87.616743,41.984037,-87.652310,member
96830,57EA5CB7DCD75F90,classic_bike,2021-01-05 18:42:27,2021-01-05 19:33:33,Lake Shore Dr & Monroe St,13300,Lakefront Trail & Bryn Mawr Ave,KA1504000152,41.880958,-87.616743,41.984037,-87.652310,member
96831,815B319A078CC984,classic_bike,2021-01-07 17:59:47,2021-01-07 19:34:03,Lakefront Trail & Bryn Mawr Ave,KA1504000152,Lakefront Trail & Bryn Mawr Ave,KA1504000152,41.984037,-87.652310,41.984037,-87.652310,member
96832,6DB04151565CEE63,classic_bike,2021-01-06 19:20:31,2021-01-06 20:41:57,Lakefront Trail & Bryn Mawr Ave,KA1504000152,Lakefront Trail & Bryn Mawr Ave,KA1504000152,41.984037,-87.652310,41.984037,-87.652310,member
96833,8008C9C998083A1A,docked_bike,2021-01-17 13:20:02,2021-01-17 14:17:00,Lake Shore Dr & Monroe St,13300,Lake Shore Dr & Monroe St,13300,41.880958,-87.616743,41.880958,-87.616743,casual

# Script To Load & Concatenate All 2021 DataFrames Together

In [3]:
df = pd.read_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2021\202101-divvy-tripdata.csv')

# we use a combo of f-strings and r-strings
for month in range(2,13):
    if month < 10:
        f = fr'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2021\20210{month}-divvy-tripdata.csv'
    else:
        f = fr'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2021\2021{month}-divvy-tripdata.csv'
    df2 = pd.read_csv(f)
    df = pd.concat([df, df2], ignore_index=True)
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595058,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
5595059,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
5595060,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
5595061,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
5595062,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [4]:
df.to_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2021\2021_all_data.csv')

# While We Are Here, Let's Concatenate All Past 3 Years Of Data In Case We Need It Later
## 2020

In [5]:
pd.read_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2020\Divvy_Trips_2020_Q1.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326.0,41.9665,-87.6884,41.9671,-87.6674,member
1,8FED874C809DC021,docked_bike,2020-01-30 14:22:39,2020-01-30 14:26:22,Clark St & Montrose Ave,234,Southport Ave & Irving Park Rd,318.0,41.9616,-87.6660,41.9542,-87.6644,member
2,789F3C21E472CA96,docked_bike,2020-01-09 19:29:26,2020-01-09 19:32:17,Broadway & Belmont Ave,296,Wilton Ave & Belmont Ave,117.0,41.9401,-87.6455,41.9402,-87.6530,member
3,C9A388DAC6ABF313,docked_bike,2020-01-06 16:17:07,2020-01-06 16:25:56,Clark St & Randolph St,51,Fairbanks Ct & Grand Ave,24.0,41.8846,-87.6319,41.8918,-87.6206,member
4,943BC3CBECCFD662,docked_bike,2020-01-30 08:37:16,2020-01-30 08:42:48,Clinton St & Lake St,66,Wells St & Hubbard St,212.0,41.8856,-87.6418,41.8899,-87.6343,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426882,ADDAA33CEBCAE733,docked_bike,2020-03-10 10:40:06,2020-03-10 10:40:07,HQ QR,675,HQ QR,675.0,41.8899,-87.6803,41.8899,-87.6803,casual
426883,82B10FA3994BC66A,docked_bike,2020-03-07 15:25:55,2020-03-07 16:14:03,Rush St & Superior St,161,Sheridan Rd & Irving Park Rd,240.0,41.8958,-87.6259,41.9542,-87.6544,member
426884,AA0D5AAA0B59C8AA,docked_bike,2020-03-01 13:12:38,2020-03-01 13:38:29,Clark St & Lincoln Ave,141,Ashland Ave & Division St,210.0,41.9157,-87.6346,41.9035,-87.6677,casual
426885,3296360A7BC20FB8,docked_bike,2020-03-07 18:02:45,2020-03-07 18:13:18,Franklin St & Illinois St,672,Stetson Ave & South Water St,264.0,41.8910,-87.6355,41.8868,-87.6223,member
426886,064EC7698E4FF9B3,docked_bike,2020-03-08 13:03:57,2020-03-08 13:32:27,Dearborn St & Erie St,110,Michigan Ave & Oak St,85.0,41.8940,-87.6293,41.9010,-87.6238,casual

In [6]:
# contains data for the first quarter:
df = pd.read_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2020\Divvy_Trips_2020_Q1.csv')

for month in range(4,13):
    if month < 10:
        f = fr'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2020\20200{month}-divvy-tripdata.csv'
    else:
        f = fr'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2020\2020{month}-divvy-tripdata.csv'
    df2 = pd.read_csv(f)
    df = pd.concat([df,df2], ignore_index=True)
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239.0,Clark St & Leland Ave,326.0,41.966500,-87.688400,41.967100,-87.667400,member
1,8FED874C809DC021,docked_bike,2020-01-30 14:22:39,2020-01-30 14:26:22,Clark St & Montrose Ave,234.0,Southport Ave & Irving Park Rd,318.0,41.961600,-87.666000,41.954200,-87.664400,member
2,789F3C21E472CA96,docked_bike,2020-01-09 19:29:26,2020-01-09 19:32:17,Broadway & Belmont Ave,296.0,Wilton Ave & Belmont Ave,117.0,41.940100,-87.645500,41.940200,-87.653000,member
3,C9A388DAC6ABF313,docked_bike,2020-01-06 16:17:07,2020-01-06 16:25:56,Clark St & Randolph St,51.0,Fairbanks Ct & Grand Ave,24.0,41.884600,-87.631900,41.891800,-87.620600,member
4,943BC3CBECCFD662,docked_bike,2020-01-30 08:37:16,2020-01-30 08:42:48,Clinton St & Lake St,66.0,Wells St & Hubbard St,212.0,41.885600,-87.641800,41.889900,-87.634300,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541678,4631EE956BCEA738,classic_bike,2020-12-19 13:59:33,2020-12-19 14:03:21,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,casual
3541679,D17CBEDEA8DBDFF6,electric_bike,2020-12-20 15:48:41,2020-12-20 15:52:14,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member
3541680,447A6C67E9AF962E,docked_bike,2020-12-02 16:59:58,2020-12-02 17:08:28,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member
3541681,F558C17E95751C62,electric_bike,2020-12-20 18:06:52,2020-12-20 18:09:53,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member
3541682,E1888F4B274EEA12,electric_bike,2020-12-03 09:43:42,2020-12-03 09:47:14,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member

In [7]:
df.to_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2020\2020_all_data.csv')

## 2019

In [8]:
pd.read_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2019\Divvy_Trips_2019_Q1.csv')

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0
...,...,...,...,...,...,...,...,...,...,...,...,...
365064,22178524,2019-03-31 23:51:32,2019-04-01 00:04:09,1501,757.0,38,Clark St & Lake St,29,Noble St & Milwaukee Ave,Subscriber,Male,1993.0
365065,22178525,2019-03-31 23:52:37,2019-03-31 23:58:09,3270,332.0,129,Blue Island Ave & 18th St,202,Halsted St & 18th St,Subscriber,Male,1992.0
365066,22178526,2019-03-31 23:52:38,2019-04-01 00:06:44,3584,846.0,283,LaSalle St & Jackson Blvd,273,Michigan Ave & 18th St,Subscriber,Male,1984.0
365067,22178527,2019-03-31 23:53:08,2019-03-31 23:56:06,4384,178.0,321,Wabash Ave & 9th St,39,Wabash Ave & Adams St,Subscriber,Male,1969.0
365068,22178528,2019-03-31 23:53:48,2019-04-01 00:01:16,5589,448.0,248,Woodlawn Ave & 55th St,247,Shore Dr & 55th St,Subscriber,Male,1998.0

In [9]:
# this years data is split into quarters instead of by month.
df = pd.read_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2019\Divvy_Trips_2019_Q1.csv')

for quarter in range(2,5):
    f = fr'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2019\Divvy_Trips_2019_Q{quarter}.csv'
    df2 = pd.read_csv(f)
    df = pd.concat([df,df2], ignore_index=True)
df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,...,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station ID,03 - Rental Start Station Name,02 - Rental End Station ID,02 - Rental End Station Name,User Type,Member Gender,05 - Member Details Member Birthday Year
0,21742443.0,2019-01-01 00:04:37,2019-01-01 00:11:07,2167.0,390.0,199.0,Wabash Ave & Grand Ave,84.0,Milwaukee Ave & Grand Ave,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21742444.0,2019-01-01 00:08:13,2019-01-01 00:15:34,4386.0,441.0,44.0,State St & Randolph St,624.0,Dearborn St & Van Buren St (*),Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21742445.0,2019-01-01 00:13:23,2019-01-01 00:27:12,1524.0,829.0,15.0,Racine Ave & 18th St,644.0,Western Ave & Fillmore St (*),Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21742446.0,2019-01-01 00:13:45,2019-01-01 00:43:28,252.0,"1,783.0",123.0,California Ave & Milwaukee Ave,176.0,Clark St & Elm St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21742447.0,2019-01-01 00:14:52,2019-01-01 00:20:56,1170.0,364.0,173.0,Mies van der Rohe Way & Chicago Ave,35.0,Streeter Dr & Grand Ave,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3817999,25962900.0,2019-12-31 23:56:13,2020-01-01 00:15:45,2196.0,"1,172.0",112.0,Green St & Randolph St,225.0,Halsted St & Dickens Ave,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818000,25962901.0,2019-12-31 23:56:34,2020-01-01 00:22:08,4877.0,"1,533.0",90.0,Millennium Park,90.0,Millennium Park,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818001,25962902.0,2019-12-31 23:57:05,2020-01-01 00:05:46,863.0,520.0,623.0,Michigan Ave & 8th St,52.0,Michigan Ave & Lake St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818002,25962903.0,2019-12-31 23:57:11,2020-01-01 00:05:45,2637.0,514.0,623.0,Michigan Ave & 8th St,52.0,Michigan Ave & Lake St,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818003,25962904.0,2019-12-31 23:57:17,2019-12-31 23:59:18,5930.0,120.0,256.0,Broadway & Sheridan Rd,240.0,Sheridan Rd & Irving Park Rd,Subscriber,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.to_csv(r'D:\Datasets\Divvy_Trips_Data\Divvy_Trips_2019\2019_all_data.csv')